[Unit]
Description=ROS2 Teleop Launch (Jazzy)
After=network.target

[Service]
Type=simple
User=isen
WorkingDirectory=/home/isen
ExecStart=/home/isen/start_ros2_teleop.sh 
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target